<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words %> </h2>

<h2>Vowels: <%= @analyzed_text.count_of_vowels %></h2>

<h2>Consonants: <%= @analyzed_text.count_of_consonants %> </h2>

<% letter_most_frequent = @analyzed_text.most_used_letter.keys.first %>
<% number_of_times = @analyzed_text.most_used_letter.values.first %>
<h2>Most Common Letter: <%= letter_most_frequent.upcase %>, used <%= number_of_times %> times</h2>
